@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #2a2a2a;
}

body{
    font-family: 'Poppins', sans-serif;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

img{
	max-width: 100%;
}

ul{
    list-style: none;
}

/* MENÚ DE NAVEGACIÓN */
.log-web {
    width: 200px;
}

.navbar {
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.377);
    height: 5rem;
}

/* HERO DE INICIO */
.cont-hero {
    background-image: linear-gradient(#0000009f, #0000008b), url(images/img-2.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box-description {
    width: 90%;
    text-align: center;
}

.hero-title{
    color: white;
    font-size: 60px;
    font-weight: bold;
}

.hero-txt{
    color: white;
    font-size: 20px;
}

.hero-cta{
    display: inline-block;
    background-color: #512c8b;
    border-radius: 8px;
    border: 3px solid #512c8b;
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 330px;
    text-align: center;
    margin-bottom: 10px;
}

.blanco{
    display: inline-block;
    background-color: transparent;
    border-radius: 8px;
    border: 3px solid #ffffff;
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 330px;
    text-align: center;
}

.hero-cta:hover{
    background-color: #3b2066;
    border: 3px solid #3b2066;
    font-weight: bold;
    border-radius: 8px;
}

.blanco:hover{
    background-color: #ffffff19;
    border: 3px solid white;
    font-weight: bold;
    border-radius: 8px;
}

/* NUESTROS SERVICIOS */
.container-card-serv{
    width: 90%;
    display: flex;
    margin: 40px auto;
    flex-wrap: wrap;
}

.serv-title{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 40px auto;
    color: #512c8b;
}

.card-servicios{
    background-color: rgb(245, 245, 245);
    width: 400px;
    margin: 20px auto;
    text-align: center;
    padding: 30px 25px;
    border-radius: 15px;
    border: solid #512c8b .3px;
}

.card-serv-img{
    width: 150px;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}

.card-serv-title{
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
}

.card-serv-cta{
    background-color: #512c8b;
    border: solid 3px #512c8b;
    display: block;
    color: white;
    width: 60%;
    margin: 20px auto;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
}

.card-serv-cta:hover{
    background-color: #3b2066;
    border: solid #3b2066;
    color: white;
    font-weight: bold;
    border-radius: 8px;
}

/* PARQUE VEHICULAR */
.cont-flotilla{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: end;
    margin: 20px auto;
    width: 90%;
}

.flotilla-description{
    font-size: 20px;
    line-height: 40px;
}

.flotilla-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #512c8b;
}

.flotilla-list {
    list-style-image: url(images/check.svg);
}

.cont-flotilla-img{
    width: 600px;
}

.flotilla-bus{
    width: 100%;
}

.cont-flotilla-card{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 15px;
    justify-content: space-around;
}

.card-flotilla{
    background-color: #f5f5f5;
    border: solid .5px #3b2066;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    width: 350px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.box-title-icono{
    display: flex;
    object-fit: cover;
    align-items: start;
}

.icon-title{
    width: 35px;
}

.title-3{
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
}

.card-flotilla-cta{
    background-color: #512c8b;
    border: solid 3px #512c8b;
    display: block;
    color: white;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    padding: 8px;
    font-weight: bold;
    text-align: center;
}

.card-flotilla-cta:hover{
    background-color: #3b2066;
    border: solid 3px #3b2066;
}

/* PROPUESTA DE VALOR */
.cont-valor{
    background-color: #512c8b;
    margin-top: 20px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    border-top: 1px solid transparent;
}

.valor-txt{
    margin: 40px auto;
    width: 70%;
    text-align: center;
}

.valor-title{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px ;
}

.valor-description{
    color: white;
}

.valor-cards{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}

.card-valor{
    width: 300px;
    margin: 10px auto;
    background-color: #3b2066;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-valor-title{
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 20px;
}

.card-valor-description{
    color: white;
}

/* PIE DE PÁGINA */
.cont-footer{
    background-color: #E2E3E4;
    width: 100%;
    border: transparent solid .2px;
}

.cont-footer-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px;
}

.box-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    text-align: center;
}

.box-footerbig{
    width: 400px;
}

.title-footer{
    font-size: 20px;
    font-weight: bold;
}

.txt-footer{
    text-decoration: none;
    color: rgb(82, 82, 82);
}

.socialmedia{
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

.footer-logo{
    width: 70%;
    margin: 20px auto;
}

hr{
    width: 95%;
    margin: auto;
}

.copywriting{
    margin: 10px auto;
    width: 60%;
    text-align: center;
}

/* SECTION NOSOTROS */
/* HERO */
.cont-hero-nosotros{
    background-image: linear-gradient(#0000009f, #0000008b), url(images/instalaciones.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.box-description-nosotros{
    width: 65%;
	/* background-color: #3b2066a7; */
	border: solid 3px white;
	border-radius: 10px;
	padding: 20px;
}

.hero-title-nosotros{
	color: white;
	font-size: 50px;
	font-weight: bold;
}

.hero-txt-nosotros{
	font-size: 20px;
	color: white;
}

/* FILOSOFÍA EMPRESARIAL */
.cont-filosofia {
    width: 90%;
    margin: 50px auto;
    display: flex;
	gap: 10px;
    flex-wrap: wrap;
}

.cards-filosofia{
	border: solid #3b2066 .5px;
    width: 350px;
	margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 25px;
}

.img-card-filosofia{
    width: 100px;
}

.title-card-filosofia{
	font-size: 25px;
	font-weight: bold;
	margin-top: 10px;
}

/* EQUIPO TRANSPERSONAL DEL BAJIO */
.cont-equipo{
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
	box-shadow: 20px 20px 20px 5px #18181829;
	padding: 20px;
	background-color: #f5f5f5;
	border-radius: 10px;
}

.equipo-description{
	width: 50%;
}

.cont-equipo-img{
    width: 40%;
}

.title-equipo{
	font-size: 40px;
	font-weight: bold;
}

@media (max-width: 768px) {
	.cont-equipo-img{
		width: 600px;
	}

	.equipo-description{
		width: 600px;
	}
}

/* SERVICIOS DE TRANSPORTE */
.cont-servicio-s{
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 20px;
    box-shadow: 10px 10px 30px 10px rgba(54, 54, 54, 0.225);
}

.cont-img-serv{
    width: 80%;
    margin-top: 40px;
}

.cont-description-s{
    padding: 20px;
}

.img-serv{
    width: 100%;
}

.title-serv{
    margin: 10px;
}

.serv-cta{
    background-color: #512c8b;
    margin: 25px auto;
    text-align: center;
    color: white;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    display: block;
}

.serv-cta:hover{
    background-color: transparent;
    border: solid #512c8b;
    color: #512c8b;
    font-weight: bold;
    border-radius: 10px;
}

.carrusel-flotilla{
    width: 90%;
    margin: 20px auto;
}

/* section parque vehicular */
.title-parque{
    font-size: 40px;
    font-weight: bold;
    margin: 25px;
    color: #512c8b;
    text-align: center;
}








/* SECCION DE CONTACTO */

.contact {
    width: 90%;
    margin: 40px auto;
}

.contact-title {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.contact-title h2 {
    color: #512c8b;
    font-weight: bold;
    font-size: 40px;
}

.contact p {
    font-size: 16px;
    margin-bottom: 10px;
}

.box {
    padding: 10px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* FORMULARIO */
.contact-form {
    width: 60%;
    margin: 0 auto;
}

.formbox {
    width: 100%;
}

.formbox .row50 {
    display: flex;
    gap: 20px;
}

.inputbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 60%;
}

.formbox .row100 .inputbox {
    width: 100%;
}

.inputbox label{
    margin-top: 10px;
    margin-bottom: 5px;
}

.inputbox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: .5px solid #dadada;
    background-color: #f3f3f3;
}

.inputbox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: .5px solid #dadada;
    background-color: #f3f3f3;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.inputcheck{
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.inputbox input[type="submit"] {
    background-color: #512c8b;
    border: solid 1px #512c8b;
    border-radius: 8px;
    color: white;
    font-size: 1.1em;
    max-width: 150px;
    font-weight: bold;
    cursor: pointer;
    padding: 14px 15px;
}

.inputbox input[type="submit"]:hover {
    background-color: #3b2066;
}

/* CONTENEDOR INFORMACIÓN */
.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    margin: 0 auto;
    flex-grow: 1;
}

/* BOX-INFO */
.box-info {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #512c8b;
    overflow: hidden;
}

.icon-info {
    display: flex;
    gap: 10px;
}

.sci {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.box-info h3 {
    color: white;
    font-weight: bold;
}

.box-info .infobox div p {
    color: white;
    font-size: 16px;
}

/* BOX-MAPA */
.box-map {
    width: 100%;
}

.box-map iframe{
    width: 100%;
    height: 300px;
}




/* DISEÑO RESPONSIVE */

@media (max-width:991px){

    /* CONTACTO */
    .contact-form, 
    .contact-title{
        padding: 20px;
        width: 90%;
    }

    .formbox .row50{
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .inputbox{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        width: 100%;
    }

    .contact-info{
        width: 90%;
        margin: 0 auto;
    }

    /* FOOTER */
    .box-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        text-align: center;
    }

    .box-footerbig{
        width: 90%;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .navbar-nav > li:hover {
        background-color: #512c8b;
     }
}

@media (max-width: 576px) {
    /* HERO INICIO */
    .hero-title{
        font-size: 30px;
    }

    .hero-txt{
        font-size: 16px;
    }
    .hero-cta{
        width: 70%;
    }

    /* HERO NOSOTROS */
    .hero-title-nosotros{
        font-size: 30px;
    }

    .hero-txt-nosostros{
        font-size: 16px;
    }

    .box-description-nosotros{
        width: 90%;
    }
}

@media (min-width:992px) {
    .cont-hero-description{
        width: 65%;
        text-align: start;
    }
}